VITE_FIREBASE_API_KEY=AIzaSyDd1PCOFoWG3As7OBWwjoYgl7fR8fBj7CI
VITE_FIREBASE_AUTH_DOMAIN=gran-revelacion.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://gran-revelacion-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=gran-revelacion
VITE_FIREBASE_STORAGE_BUCKET=gran-revelacion.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=489558066288
VITE_FIREBASE_APP_ID=1:489558066288:web:8e14227... (pega tu código completo aquí)

VITE_REDIRECT_URL=http://localhost:5173
